*{
  background-color:  #333945;
  color: white;
}
.main {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 3%;
  margin-top: 2%;
  font-family: open sans;
}
ul {
  display: flex;
  // justify-content: space-between;
  list-style: none;
  align-items: center;
  gap: 15px;
  font-size: 17px;
}

.menu {
  // display: flex;
  // justify-content:flex-end ;
  // justify-content: space-between;
  padding-right: 8%;
  cursor: default;
  list-style: none;
  font-family: open sans;
  text-decoration: none;
}
.menu:hover {
  font-size: large;
  color: rgb(208, 213, 152);
}

button {
  font-family: open sans;
  border: none;
  background: none;
  // height: 30px;
  align-items: center;
  display: flex;
  // justify-content: center;


}
  button:hover {
    // background-color: rgb(0, 0, 0);
    color: whitesmoke;
    cursor:pointer;
  }

.about {
  display: flex;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // color: rgb(10, 8, 8);

  .para {
    width: 50vw;
    // white-space: nowrap;
    // overflow: hidden;
  }
}
.abt{
  display: flex;
  // justify-content: center;
  // align-items:flex-start;
  flex-direction:column;
  // justify-content: flex-start;
  width: 50vw;
  
}
h3{
  font-family: open sans;
  font-size: 20px;
}

.abt h1{
  margin-top: -1%;
  font-size: 40px;
  font-family:open sans;
}
.abt h4{
  font-size: 22px;
  margin-top: -1%;
  padding-left: 4%;
}
span{
  font-family: open sans;
  font-size: 25px;
  color: #0ef;
}
.about p{
  margin-top: 5px;
  display: flex;
  width: 45vw;
  padding-left: 4%;
  font-size: 20px;
  font-family: open sans;
  // justify-content: flex-start;
}
.button{
  padding:5px;
  margin-top: 4%;
  margin-left: 2%;
  background: #0ef;
  // color: #333945;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  width: 9%;
  height: 30px;
  text-decoration: none;

  
}
.button:hover{
  box-shadow: 0px 0px 10px #0ef;
  transform: scale(1.05);
  color: #ffffff;
  font: bold;
  // width: 10%;
  // height: 35px;
}

.socialmedia a{
  background: transparent;
  padding: 4px;
  // padding-left: 2%;
}
.socialmedia{
  gap: 10%;
  margin-top: 5px;
  padding-left: 2%;

}


.about h4 span {
  opacity: 0;
  animation: typing 3s steps(25, end) forwards;
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}