.skill_cont{
    display: flex;
    flex-direction: column;
}
.skill h2{
    margin-top: 9%;
    display: flex;
    font-size: 50px;
    font-weight: 400;
    font-family: open sans;
    justify-content: center;
    // color: #0ef;
    padding-left: 1%;
}
.details{
    padding-top: 4%;
    // padding-left: 2%;
    display: flex;
    // width:90vw;
    justify-content: space-between;
}
.front{
    // width: 40vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 5%;

    h3{
        font-size: 20px;
        font-family: open sans;
    }
     
}
.Ficon,.Bicon{
    width: 30vw;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 40px;
    row-gap:30px;
    // column-gap: 40px;
    p{
        font-family: open sans;
        font-size: 16px;
        padding-left: 1px;
        color: #0ef
    }
}
.icon1,.icon2{
    display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    column-gap: 40px;
}
.backend{
    // width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5%;
    h3{
        font-size: 20px;
        font-family: open sans;
    }
}

.db{
    display: flex;
    flex-direction: column;
    // padding-top: 2%;
    padding-left: 2%; 
    padding-right: 12%;
    h3{
        font-size: 20px;
        font-family: open sans;
    }
    
    p{
    font-family: open sans;
        font-size: 16px;
        padding-left: 1px;
        color: #0ef
}
} 
.Dicon{
    display: flex;
    flex-direction: column;
    row-gap: 30px;

}

@media screen and (max-width:770px) {

    .details{
       flex-wrap: wrap;
    }
    
}